@font-face{
    font-family: 'supermarket';
    src:url('../fonts/supermarket/supermarket.eot');
    src:url('../fonts/supermarket/supermarket.eot?#iefix') format('embedded-opentype'),
        url('../fonts/supermarket/supermarket.woff') format('woff'),
        url('../fonts/supermarket/supermarket.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Tahoma, Arial, 'Times new roman';
    font-size: 13px;
    line-height: 120%;
    color: #868686;
    background-color: #f5f5f5;
}

input, select{
    padding: 8px 10px;
    color: #666;
    border: 1px solid #D5D1E0;
}
option{margin-left:10px;}

.bg-header{
    background: url('../images/bg_header.png') ;
    background-repeat:no-repeat;
    height: 233px;
    background-size: 1024px;
}

/*      Set font-style:     */
#header,
#main-nav,
.box-article-header h2,
.box-sidebar-header h2,
.box-contact h4 {
    font-family: supermarket;/*  */
}

#header{
    margin: 3% 23% 0;
    position: absolute;
    text-align: center;
    z-index: 99;
}
#header label {
    color:#0808a7;
    font-size: 20px;
    /*font-weight: bold;*/
} 
#header span{
    color:#0404f5;
}

.wrapper{
    margin: 0 auto;
    width: 1024px;
}

/*Login page*/
#login-form{
    width: 60%;
    margin:10% 20% 0;
}
#login-form .bt,#search-form .bt{
    background-color: #0808a7;
    color: #FFF;
    border: 1px solid #0808a7;
}

/* share page*/
#share-form{
    width: 100%;
    margin: 0  0 5%;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}
#search-form{
    padding: 3%;
}


#detail-form{
    border-top: 1px dotted #D3D3E6;
    margin: 5% 0;
    padding-top: 5%;
    width: 100%;
}

#detail h1,.news-form h1{
    color: #0808a7;
    font-size: large;
    font-family: supermarket;
}
#detail p{
    margin-top: 20px;
}
.row{    
    float: left;
    margin-bottom: 20px;
    width: 100%;
}


.col-lg-12{ width: 100%;margin-top: 15px;}
.col-lg-6{ width: 45%;float: left;margin-right: 5%;}
.col-lg-6 label{
    float: left;
    text-align: right;
    width: 30%;
}
.col-lg-6 input{
    width: 60%;
    float: right;
}

.col-lg-left{
   width: 50%; 
   float: left;
}

#table-list input[type="text"] {
    margin-top: -30px;
    padding: 20px 18px 0;
    vertical-align: baseline;width:50%
} 

#table-list a{
    text-decoration: none;
    color: #868686;
}
}
#table-list a:hover{
    color: #868686;
}


.news-form{
    background-color: #eaeaea;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.header-table{
    background: url('../images/header_table.png') ;
    background-repeat:repeat-x;
    height: 52px;
}
.odd{
    background-color: #fbfaf6;
    height: 52px;
}
.event{
    background-color: #ededed;
    height: 52px;
}
.footer-table{
    background-color: #ffffff;
    height: 52px;
}
.footer-table p{     
}

.header-table p{
    text-align: center;
    font-weight: bold;
    color: #0808A7;
    margin-top: 20px;
}

.odd p{
    margin-top: 20px;
}
.event p{
    margin-top: 20px;
}
.welcome{
    margin: 5% 0 3%;
}